* {
  margin: 0; padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html, body{ height: 100%; }

a { cursor: pointer; text-decoration: none; color: inherit; }

body {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 2;
  background-color: white;
  color: #404040;
  overflow-x: hidden;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  min-width: 400px;
}

.txt-ac { text-align: center; }

.hidden {
  opacity: 0;
  visibility: hidden;
}

.bg-semitransparent {
  background: rgba(0,0,0,0.5);
}

.full-center {
  position: relative;
  top: 50%;
}


