.content {
  padding: 50px 25px 25px 25px;
}
.dashboard h1 { text-transform: uppercase; }
.dashboard h2 { font-weight: 100; }
.dashboard h2 > .account { margin-left: 0.5em; font-weight: 600; }

.dashboard ul { list-style: none; display: inline-block; }
.dashboard ul li { text-align: left; }

ul li .label {
  margin-right: 15px;
  color: #7B7B7B;
  font-size: 13px;
  display: inline-block;
  min-width: 10em;
  text-align: right;
}
ul li .value { font-weight: 600; display: inline; }

.upgrade-plan {
  margin-left: 15px;
  font-weight: 100;
  font-size: 0.8em;
  background: #FC2940;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  position: relative;
  top: -2px;
}

.how-to {
  margin-top: 40px;
}

.how-to ul { text-align: center; }
.how-to ul li .label { min-width: auto; }


.jquery-example {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}

.jquery-example > pre {
    padding: 10px 20px;
    border-radius: 4px;
}

.copy-to-clipboard {
  margin-left: 20px;
  color: #BDBDBD;
  font-size: 13px;
  display: inline-block;
  text-align: right;
  transition: color 0.5s ease;
}

.copy-to-clipboard:hover {
  transition: color 0.5s ease;
  color: #4C4C4C;
}


.pulsate {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
}
@keyframes pulsate {
    0% { opacity: 0.5; }
    50% { opacity: 1.0; }
    100% { opacity: 0.5; }
}
