@import 'shared';

.fullscreen-content {
	height: 100vh;
	width: 100%;
	background: white;
}

.header-primary {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 3;

	.container {
		display: table;
		width: 100%;
		margin: 0 10px;
	}

	b { color: $red; }

	.logo, .menu {
		display: table-cell;
		padding: 0 15px;
		vertical-align: middle;
	}

	.logo { text-align: left; font-size: 20px; color: white; }

	.menu {
		text-align: right; padding-right: 10px; color: #CECECE;
		li { display: inline; padding: 0 2px; }
		a { padding: 6px 15px; }
		a:hover { border-bottom: 5px solid #FC2940; color: white; }
	}
}

.dashboard {
	padding: 50px 25px 25px 25px;
	text-align: center;
	h1 { text-transform: uppercase; }
	h2 { font-weight: 100; }
	h2 > .account { margin-left: 0.5em; font-weight: 600; }

	.config-list { list-style: none; display: inline-block; }
	.config-list > li { text-align: left; }

	ul li .label {
		margin-right: 15px;
		color: #7B7B7B;
		font-size: 13px;
		display: inline-block;
		min-width: 10em;
		text-align: right;
	}
	ul li .value { font-weight: 600; display: inline; }


	.how-to__list { text-align: center; list-style: none; }
	.how-to__list > .label { min-width: auto; }

	.copy-to-clipboard {
		margin-left: 20px;
		color: #BDBDBD;
		font-size: 13px;
		display: inline-block;
		text-align: right;
		transition: color 0.5s ease;
	}

	.copy-to-clipboard:hover {
		transition: color 0.5s ease;
		color: #4C4C4C;
	}

	.jquery-example {
		display: inline-block;
		padding: 10px;
		font-size: 16px;
		text-align: left;
	}

	.jquery-example > pre {
		padding: 10px 20px;
		border-radius: 4px;
	}

	.btn {
		@mixin button;
		padding: 10px 15px;
		margin-top: 25px;
	}

	.json-result {
		background-color: #0C1021;
		border-radius: 4px;
		text-align: left;
		width: 80%;
		margin: 0 auto;
		padding: 10px 20px;
		margin-top: 30px;
		font-size: 15px;
		overflow: scroll;

		h2 {
			text-align: center;
			color: white;
		}
	}

	.json-formatter-dark.json-formatter-row .json-formatter-toggler {
		opacity: 1;
		margin-right: 3px;
		color: #676767;
	}

	.json-formatter-dark.json-formatter-row .json-formatter-key { color: #8da6ce; }
	.json-formatter-dark.json-formatter-row .json-formatter-string { color: #61ce3c; }

	.tabs { margin-top: 40px; }

	.tabs { float: left; width: 100%; }

	.tabs > input { display : none; }

	.tabs > input:not(:checked) + section > div {
		display: none;
	}

	.tabs > input:not(:checked) + section > h1 > label:hover {
		border-bottom: 4px solid $red;
		color: black;
	}

	.tabs > input:checked + section > h1 > label {
		cursor: default;
		border-bottom: 4px solid $red;
		color: black;
	}

	.tabs > section > div {
		float: right;
		width: 100%;
		margin: 2.3em 0 0 -100%;
		position: relative;
		z-index: 1;
		border-top: 1px solid #f3f3f3;
		padding-top: 20px;
	}

	.tabs > section > h1 {
		float: left;
		font-size: 1em;
		font-weight: normal;
	}

	.tabs > section > h1 > label {
		cursor: pointer;
		-moz-user-select : none;
		-ms-user-select : none;
		-webkit-user-select : none;
		padding: 10px 10px 3px 10px;
		padding: 8px 5px;
		position: relative;
		margin-right: 15px;
		font-size: 1em;
		cursor: pointer;
		text-transform: uppercase;
	}


/*
	.tabs > input:checked + section > h1{
		position : relative;
		z-index  : 2;
	}
*/
/*
	.tabss {
		position: relative;
		min-height: 200px;
		clear: both;
		margin: 25px 0;
	}

	.tabs {
		float: left;
		display: inline-block;
	}

	.tabs__label {
		padding: 10px 10px 3px 10px;
		position: relative;
		margin-right: 15px;
		font-size: .8em;
		cursor: pointer;
		text-transform: uppercase;
	}

	.tabs__label:hover {
		border-bottom: 3px solid $red;
	}

	.tabs > [type=radio]:checked ~ .tabs__label {
		padding: 8px 10px;
		border-radius: 4px;
		z-index: 2;
		background: $red;
		color: #fff;
		cursor: default;
	}

	.tabs > [type=radio]:checked ~ .tabs__label:hover { border-bottom: none; }

	.tabs > [type=radio] {
		display: none;
	}

	.tabs__content {
		position: absolute;
		top: 35px;
		left: 0;
		background: white;
		right: 0;
		bottom: 0;
		padding: 20px;
	}

	.tabs > [type=radio]:checked ~ .tabs__label ~ .tabs__content {
		z-index: 1;
	}
	*/


}


/*
.header-primary .container .logo,
.header-primary .container .menu {
	display: tabsle-cell;
	padding: 0 15px;
	vertical-align: middle;
}
*/
